.sidebar-item {
  & > li {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 18px;
    margin-bottom: 4px;
  }

  & > li[data-active="true"] {
    background: #f1f1f1;
    font-weight: bold;
  }

  & > li:hover {
    background: #f1f1f1;
    font-weight: bold;
  }
}