.sidebar-item {
  & > li {
    display: block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 18px;
    margin-bottom: 4px;
  }

  & > li[data-active="true"] {
    background: var(--color-neutral-2);
    font-weight: bold;
  }

  & > li:hover {
    background: var(--color-neutral-2);
    font-weight: bold;
  }
}
