.top-bar {
  background: var(--bg-section-color);
}

.address .arco-input-group-addbefore {
  border-right: none;
}

.address .arco-input {
  padding-left: 2px !important;
  line-height: 29px;
}

.copy-terminal {
  cursor: pointer;
}

.sys-setting-wrap {
  border-radius: 2px;
  display: inline-block;
  padding: 5px 8px;
  transition: 0.1s ease-in background-color;
  &:hover {
    background-color: var(--bg-color);
  }
}

.sys-setting {
  font-size: 18px !important;
  cursor: pointer;
  color: var(--color-text-1) !important;

  &:not(:last-child) {
    margin-right: 6px;
  }
}

.sys-setting[data-enable="true"] {
  color: var(--primary-color) !important;
  stroke: var(--primary-color) !important;
  stroke-width: 3;
}

.proxy-btn {
  /*box-shadow:  0 2px 2px rgba(0, 0, 0, 0.2);;*/
}

.proxy-btn:hover {
  opacity: 0.9;
  font-weight: 800;
  svg {
    stroke-width: 4;
  }
}
