.headers {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  .headers-tools {
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--color-bg-3);
  }

  .active {
    color: hsl(var(--nextui-success-200));
  }
}
