.headers {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  .headers-tools {
    position: sticky;
    top: 0;
    z-index: 99;
  }
}

body.dark .headers .active {
  color: hsl(var(--nextui-success-200));
}

body.light .headers .active {
  color: hsl(var(--nextui-success-400));
}
