.connections {
  background-color: var(--bg-section-color);
}

.conn-detail-drawer,
.arco-drawer-content > div {
  height: 100%;
}

.conn-detail-drawer,
.arco-tabs-content-horizontal {
  height: 100%;
}

.conn-detail-drawer,
.arco-tabs-content-inner {
  height: 100%;
}

.conn-uri {
  min-width: 180px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.uri-copy {
  margin-left: 4px;
  cursor: pointer;
  flex-shrink: 0;
}

.conn-filters {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.conn-filters .filter:hover {
  background: var(--primary-color);
  color: #f1f1f1;
  transition: 0.1s ease-in background-color;
}

.conn-filters .filter[data-active="true"] {
  background: var(--primary-color);
  color: #f1f1f1;
}

.conn-filter-mark {
  stroke: var(--primary-color) !important;
  margin-right: 8px;
  stroke-width: 4 !important;
}
