.item {
  padding: 4px 0;
}

.label {
  @apply text-gray10;
}

.value {
  @apply break-all;
}

.headers {
  position: relative;

  .header-pretty {
    margin-right: 4px;
    cursor: pointer;
  }

  .active {
    color: var(--primary-color);
    stroke-width: 4;
  }
}
