.item {
  padding: 4px 0;
}

.label {
  @apply text-gray10;
  user-select: none !important;
}

.value {
  @apply break-all;
}

.headers::-webkit-scrollbar {
  display: none;
}

.headers {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;

  .headers-tools {
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--color-bg-3);
  }

  .header-pretty {
    margin-right: 4px;
    cursor: pointer;
  }

  .active {
    color: var(--primary-color);
    stroke-width: 4;
  }
}

.detail-panels {
  height: 100%;
}

.detail-panels .arco-tabs-pane {
  height: 100%;
}

.req-res-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}
