body {
  --primary-6: 0, 100, 0;
  --primary-color: darkgreen;
  --bg-color: #f1f1f1;
  --bg-section-color: #ffffff;
  --warning-color: rgb(245, 63, 63);
}

body[arco-theme="dark"] {
  --primary-6: 0, 100, 0;
  --primary-color: #11A611;
  --bg-color: var(--color-bg-2);
  --bg-section-color: var(--color-bg-2);
  --warning-color: rgb(245, 63, 63);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }
}

.app {
  background-color: var(--color-neutral-2);
}

.aside {
  box-sizing: border-box;
  padding: 8px;
  flex-shrink: 0;
  user-select: none;
}

.main {
  height: 100%;
  width: fit-content;
  min-width: 100%;
  position: relative;
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
}
