body {
  font-size: 16px;
  --sidebar-width: 40px;
  --topbar-height: 48px;
}

.main {
  height: 100%;
  width: fit-content;
  min-width: 100%;
  position: relative;
  padding: 0.5rem;
  box-sizing: border-box;
}
