@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  height: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
}

*[data-selectable="true"] * {
  user-select: text !important;
}

input {
  -webkit-appearance: textfield;
}

input::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  right: 0;
}
