/* @tailwind base; */
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100%;
  height: 100%;
}

/* override */

.arco-icon {
  font-size: 14px;
  stroke-width: 2;
}

.arco-input-group-addbefore {
  color: #606278;
}

.arco-input-inner-wrapper-focus {
  /*border-color: rgb(242, 243, 245) !important;*/
  border-width: 1px !important;
  background: var(--color-fill-3) !important;
  border-radius: 0 !important;
}

.arco-input-inner-wrapper-small {
  height: 32px !important;
}

.arco-input-size-small {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.arco-collapse-item-header {
  user-select: none;
  border-bottom: none;
}

input {
  -webkit-appearance: textfield;
}

input::-webkit-search-decoration {
  -webkit-appearance: none;
}

input::-webkit-credentials-auto-fill-button {
  display: none !important;
  visibility: hidden;
  position: absolute;
  pointer-events: none;
  right: 0;
}

.arco-collapse-item-content-box {
  padding-left: 20px;
  padding-right: 0;
}

.arco-table-container, .arco-table table thead tr:first-child th:first-child {
  border-radius: 0;
}

.arco-table-size-mini .arco-table-td {
  padding: 6px 16px;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
