body.dark .pin {
  color: hsl(var(--nextui-success-200));
}

body.light .pin {
  color: hsl(var(--nextui-success-500));
}

body.dark .conn-filters .filter:hover {
  background: hsl(var(--nextui-success-200));
  transition: 0.1s ease-in background-color;
}

body.dark .conn-filters .filter[data-active="true"] {
  background: hsl(var(--nextui-success-200));
  transition: 0.1s ease-in background-color;
}

body.light .conn-filters .filter:hover {
  background: hsl(var(--nextui-success-500));
  transition: 0.1s ease-in background-color;
}

body.light .conn-filters .filter[data-active="true"] {
  background: hsl(var(--nextui-success-500));
  transition: 0.1s ease-in background-color;
}
